.resume{
  background-color: #f5f5f5;
  margin-bottom: 15px;
  padding: 15px;
}

.resume__title {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ff8d00;
  font-size: 25px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed #ff8d00;
}

/* .resume__title::before{
  content: "";
  position: absolute;
  left: 0;
  top: 85%;
  width: 50%;
  height: 2px;
  background-color: #ff8d00;
} */

.resume-content__year-map {
  width: 25%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-content__year-map h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


.experience__year-map span {
  display: block;
}

.resume-content {
  display: flex;
  border-radius: 6px;
  margin-bottom: 15px;
  position: relative;
}

.resume-content__desc {
  padding: 15px;
  width: 75%;
  background-color: #fff;
}

.experience__company-name {
  font-size: 14px;
}

.experience__designation {
  font-size: 20px;
  font-weight: bold;
}

.experience__responsibility{
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 0px;
}

.experience__responsibility ul{
  font-size: 16px;
}

.experience__responsibility ul li {
  position: relative;
  padding-left: 15px;
}

.experience__responsibility ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #8a8a8a;
}



@media (max-width:991px){
  .resume-content {
    flex-direction: column;
  }

  .resume-content__desc,
  .resume-content__year-map {
    width: 100%;
  }
}