.projects {
  /* background-color: var(--themeDarkColor); */
  padding: 15px 0;
}

.project {
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 150px;
  /* height: 100%; */
  margin-bottom: 15px;
  border: 1px solid var(--themeDarkColor);
}

.project__image{
  /* max-height: 300px; */
  max-height: 150px;
  overflow: hidden;
}

.project__image img {
  width: 100%;
  transform: translateY(0);
  transition: all 5s linear;
}

.project__desc {
  position: absolute;
  bottom: -50%;
  left: 0;
  height: fit-content;
  width: 100%;
  padding: 8px 5px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  border-radius: 0 0 5px 5px;
  transition: all .5s ease-in-out .5s;
}


.project:hover .project__desc {
  visibility: visible;
  opacity: 1;
  bottom: 0;
  background-color: var(--themeDarkColor);
  color: #fff;
}
.project:hover .project__image img {
  width: 100%;
  transform: translateY(calc(-100% + 300px + 16px));
}






@media (max-width: 991px) {

  .project__image{
    max-height: 300px;
    overflow: hidden;
  }
}