.button {
  border-radius: 6px;
  border: none;
  padding: 10px 15px;
  background-color: transparent;
  border: .1px dotted var(--themeDarkColor);
  color: var(--themeDarkColor);
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-resume {
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.btn-resume:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3%;
  background-color: var(--themeDarkColor);
  left: 0%;
  top: 0%;
  z-index: -1;
  transition: all 0.2s ease;
  opacity: 0;
}

.btn-resume:hover:before {
  background-color: var(--themeDarkColor);
  height: 100%;
  opacity: 1;
}

.btn-resume:hover {
  color: #fff;
  border-color: var(--themeDarkColor);
}